@charset "utf-8";
/* CSS Document */

html, span, object,h1, h2, h3, h4, h5, h6, p, em, dd,dl, dt, ol, ul, li{ margin:0;padding:0;border:0; font-family:"微软雅黑"; list-style:none;}
body{ font: 12px Arial, Helvetica, sans-serif;  margin:0;padding:0; list-style:none;color: #333;}
a{ color:#333; text-decoration:none; }
a:hover{text-decoration: none   }
img{ border:none; padding:0px; margin:0px; display:block; } 
ul,li{ list-style-type:none; margin:0; padding:0; border:0; list-style:none }
.clear_all {clear:both;}